/*#region Left Tree*/
#Defensive_Tree_1{
	top:504px;
	left:674px;
}
#Defensive_Tree_2{
	top:504px;
	left:614px;
}
#Defensive_Tree_3{
	top:504px;
	left:553px;
}
#Defensive_Tree_4{
	top:444px;
	left:553px;
}
#Defensive_Tree_5{
	top:444px;
	left:614px;
}
#Defensive_Tree_6{
	top:566px;
	left:614px;
}
#Defensive_Tree_7{
	top:566px;
	left:553px;
}
#Defensive_Tree_8{
	top:566px;
	left:492px;
}
#Defensive_Tree_9{
	top:444px;
	left:674px;
}

/*#region Top Tree*/
#Defensive_Tree_10{
	top:419px;
	left:753px;
}
#Defensive_Tree_11{
	top:419px;
	left:815px;
}
#Defensive_Tree_12{
	top:355px;
	left:815px;
}
#Defensive_Tree_13{
	top:294px;
	left:815px;
}
#Defensive_Tree_14{
	top:294px;
	left:753px;
}
#Defensive_Tree_15{
	top:355px;
	left:753px;
}
#Defensive_Tree_16{
	top:355px;
	left:875px;
}

/*#region Right Tree*/
#Defensive_Tree_17{
	top:499px;
	left:835px;
}
#Defensive_Tree_18{
	top:499px;
	left:896px;
}
#Defensive_Tree_19{
	top:438px;
	left:900px;
}
#Defensive_Tree_20{
	top:435px;
	left:960px;
}
#Defensive_Tree_21{
	top:499px;
	left:960px;
}
#Defensive_Tree_22{
	top:494px;
	left:1020px;
}
#Defensive_Tree_23{
	top:557px;
	left:1020px;
}
#Defensive_Tree_24{
	top:560px;
	left:899px;
}

/*#region Bottom Tree*/
#Defensive_Tree_25{
	top:576px;
	left:753px;
}
#Defensive_Tree_26{
	top:576px;
	left:694px;
}
#Defensive_Tree_27{
	top:640px;
	left:694px;
}
#Defensive_Tree_28{
	top:640px;
	left:633px;
}
#Defensive_Tree_29{
	top:703px;
	left:633px;
}
#Defensive_Tree_30{
	top:640px;
	left:755px;
}
#Defensive_Tree_31{
	top:640px;
	left:815px;
}
#Defensive_Tree_32{
	top:703px;
	left:815px;
}

/*#region Inferno 3 Tree*/
#Defensive_Tree_33{
	top:843px;	left:38px;
}
#Defensive_Tree_34{
	top: 845px; left: 99px;
}
#Defensive_Tree_35{
	top: 784px; left: 100px;
}
#Defensive_Tree_36{
	top: 784px; left: 39px;
}
#Defensive_Tree_37{
	top: 784px; left: 159px;
}
#Defensive_Tree_38{
	top: 784px; left: 225px;
}
#Defensive_Tree_39{
	top: 724px; left: 160px;
}

/*#region Inferno 7 Tree*/
#Defensive_Tree_40{
	top: 892px; left: 889px;
}
#Defensive_Tree_41{
	top: 893px; left: 950px;
}
#Defensive_Tree_42{
	top: 832px; left: 951px;
}
#Defensive_Tree_43{
	top: 831px; left: 1009px;
}
#Defensive_Tree_44{
	top: 829px; left: 1077px;
}

/*#region Inferno 11 Tree*/
#Defensive_Tree_45{
	top: 356px; left: 999px;
}
#Defensive_Tree_46{
	top: 355px; left: 1060px;
}
#Defensive_Tree_47{
	top: 293px; left: 1058px;	
}
#Defensive_Tree_48{
	top: 295px; left: 998px;
}
#Defensive_Tree_49{
	top: 294px; left: 1119px;
}
#Defensive_Tree_50{
	top: 290px; left: 1184px;
}
#Defensive_Tree_51{
	top: 235px; left: 1120px;
}

/*#region Inferno 15 Tree*/
#Defensive_Tree_52{
	top: 480px; left: 279px;
}
#Defensive_Tree_53{
	top: 480px; left: 339px;
}
#Defensive_Tree_54{
	top: 480px; left: 399px;
}
#Defensive_Tree_55{
	top: 477px; left: 464px;
}
#Defensive_Tree_56{
	top: 418px; left: 400px;
}

/*#region Storm Tree*/
#Defensive_Tree_57{ top: 749px; left: 538px; }
#Defensive_Tree_58{ top: 810px; left: 538px; }
#Defensive_Tree_59{ top: 873px; left: 534px; }
#Defensive_Tree_60{ top: 877px; left: 471px; }
#Defensive_Tree_61{ top: 807px; left: 471px; }
#Defensive_Tree_62{ top: 874px; left: 595px; }
#Defensive_Tree_63{ top: 661px; left: 154px; }
#Defensive_Tree_64{ top: 657px; left: 93px; }
#Defensive_Tree_65{ top: 663px; left: 32px; }
#Defensive_Tree_66{ top: 595px; left: 31px; }
#Defensive_Tree_67{ top: 596px; left: 95px; }
#Defensive_Tree_68{ top: 169px; left: 1113px; }
#Defensive_Tree_69{ top: 168px; left: 1053px; }
#Defensive_Tree_70{ top: 171px; left: 992px; }
#Defensive_Tree_71{ top: 104px; left: 987px; }
#Defensive_Tree_72{ top: 105px; left: 1056px; }
#Defensive_Tree_73{ top: 355px; left: 459px; }
#Defensive_Tree_74{ top: 355px; left: 398px; }
#Defensive_Tree_75{ top: 359px; left: 335px; }
#Defensive_Tree_76{ top: 291px; left: 336px; }
#Defensive_Tree_77{ top: 292px; left: 400px; }

/*#region Bull Tree*/
#Defensive_Tree_78{ top: 762px; left: 299px; }
#Defensive_Tree_79{ top: 760px; left: 358px; }
#Defensive_Tree_80{ top: 759px; left: 419px; }
#Defensive_Tree_81{ top: 821px; left: 359px; }
#Defensive_Tree_82{ top: 887px; left: 354px; }
#Defensive_Tree_83{ top: 890px; left: 293px; }
#Defensive_Tree_84{ top: 820px; left: 292px; }
#Defensive_Tree_85{ top: 548px; left: 1356px; }
#Defensive_Tree_86{ top: 608px; left: 1357px; }
#Defensive_Tree_87{ top: 671px; left: 1351px; }
#Defensive_Tree_88{ top: 674px; left: 1292px; }
#Defensive_Tree_89{ top: 605px; left: 1289px; }
#Defensive_Tree_90{ top: 607px; left: 1417px; }
#Defensive_Tree_91{ top: 121px; left: 1382px; }
#Defensive_Tree_92{ top: 125px; left: 1323px; }
#Defensive_Tree_93{ top: 124px; left: 1260px; }
#Defensive_Tree_94{ top: 185px; left: 1321px; }
#Defensive_Tree_95{ top: 248px; left: 1319px; }
#Defensive_Tree_96{ top: 253px; left: 1257px; }
#Defensive_Tree_97{ top: 185px; left: 1256px; }
#Defensive_Tree_98{ top: 378px; left: 135px; }
#Defensive_Tree_99{ top: 437px; left: 134px; }
#Defensive_Tree_100{ top: 502px; left: 131px; }
#Defensive_Tree_101{ top: 503px; left: 71px; }
#Defensive_Tree_102{ top: 436px; left: 67px; }

/*#region Blizzard Tree*/
#Defensive_Tree_103{ top: 803px; left: 691px; }
#Defensive_Tree_104{ top: 804px; left: 753px; }
#Defensive_Tree_105{ top: 803px; left: 812px; }
#Defensive_Tree_106{ top: 800px; left: 878px; }
#Defensive_Tree_107{ top: 864px; left: 754px; }
#Defensive_Tree_108{ top: 863px; left: 690px; }
#Defensive_Tree_109{ top: 902px; left: 1210px; }
#Defensive_Tree_110{ top: 902px; left: 1150px; }
#Defensive_Tree_111{ top: 842px; left: 1148px; }
#Defensive_Tree_112{ top: 840px; left: 1209px; }
#Defensive_Tree_113{ top: 839px; left: 1275px; }
#Defensive_Tree_114{ top: 369px; left: 1249px; }
#Defensive_Tree_115{ top: 370px; left: 1311px; }
#Defensive_Tree_116{ top: 371px; left: 1373px; }
#Defensive_Tree_117{ top: 367px; left: 1439px; }
#Defensive_Tree_118{ top: 431px; left: 1314px; }
#Defensive_Tree_119{ top: 430px; left: 1250px; }
#Defensive_Tree_120{ top: 303px; left: 71px; }
#Defensive_Tree_121{ top: 304px; left: 130px; }
#Defensive_Tree_122{ top: 304px; left: 191px; }
#Defensive_Tree_123{ top: 297px; left: 261px; }

/*#region Corruption Tree*/
#Defensive_Tree_124{ top: 608px; left: 968px; }
#Defensive_Tree_125{ top: 668px; left: 967px; }
#Defensive_Tree_126{ top: 733px; left: 964px; }
#Defensive_Tree_127{ top: 736px; left: 903px; }
#Defensive_Tree_128{ top: 669px; left: 900px; }
#Defensive_Tree_129{ top: 732px; left: 1023px; }
#Defensive_Tree_130{ top: 767px; left: 1455px; }
#Defensive_Tree_131{ top: 828px; left: 1455px; }
#Defensive_Tree_132{ top: 892px; left: 1453px; }
#Defensive_Tree_133{ top: 893px; left: 1392px; }
#Defensive_Tree_134{ top: 827px; left: 1390px; }
#Defensive_Tree_135{ top: 92px; left: 412px; }
#Defensive_Tree_136{ top: 153px; left: 414px; }
#Defensive_Tree_137{ top: 218px; left: 411px; }
#Defensive_Tree_138{ top: 220px; left: 348px; }
#Defensive_Tree_139{ top: 154px; left: 347px; }
#Defensive_Tree_140{ top: 215px; left: 474px; }
#Defensive_Tree_141{ top: 584px; left: 392px; }
#Defensive_Tree_142{ top: 649px; left: 386px; }
#Defensive_Tree_143{ top: 652px; left: 327px; }
#Defensive_Tree_144{ top: 585px; left: 324px; }
#Defensive_Tree_145{ top: 648px; left: 448px; }

/*#region Decay Tree*/
#Defensive_Tree_146{ top: 525px; left: 1104px; }
#Defensive_Tree_147{ top: 524px; left: 1164px; }
#Defensive_Tree_148{ top: 522px; left: 1226px; }
#Defensive_Tree_149{ top: 585px; left: 1164px; }
#Defensive_Tree_150{ top: 649px; left: 1162px; }
#Defensive_Tree_151{ top: 651px; left: 1100px; }
#Defensive_Tree_152{ top: 586px; left: 1099px; }
#Defensive_Tree_153{ top: 719px; left: 1200px; }
#Defensive_Tree_154{ top: 783px; left: 1197px; }
#Defensive_Tree_155{ top: 786px; left: 1135px; }
#Defensive_Tree_156{ top: 721px; left: 1134px; }
#Defensive_Tree_157{ top: 215px; left: 561px; }
#Defensive_Tree_158{ top: 217px; left: 622px; }
#Defensive_Tree_159{ top: 213px; left: 681px; }
#Defensive_Tree_160{ top: 277px; left: 619px; }
#Defensive_Tree_161{ top: 341px; left: 617px; }
#Defensive_Tree_162{ top: 345px; left: 557px; }
#Defensive_Tree_163{ top: 278px; left: 550px; }
#Defensive_Tree_164{ top: 150px; left: 194px; }
#Defensive_Tree_165{ top: 216px; left: 191px; }
#Defensive_Tree_166{ top: 216px; left: 132px; }
#Defensive_Tree_167{ top: 146px; left: 130px; } 
